/*
* showtime-display css
* Author: creativecreate
* Version: 1.0.1 
*/

span.mess {
    text-align: center;
    display: block;
}
/* widget css */
ul#mtd_widegt_wrapper li { 
	list-style: none; 
	margin: 1%;
	display:inline-block !important;
	vertical-align: top;	/* to fix safari mis-alignment */
}
	ul#mtd_widegt_wrapper li img {width: 100%;}
	ul#mtd_widegt_wrapper li p {
	  max-height: 1.25em;
	  overflow: hidden;
	  font-size: 12px;
	  margin-top: 1em;
	  text-align:center;
	}
	ul#mtd_widegt_wrapper li ul { display: none;}

ul#mtd_widegt_wrapper.col1 li {  /*flex-basis: 96%;*/ width: 98%;}
ul#mtd_widegt_wrapper.col2 li, ul#mtd_widegt_wrapper.col0 li {  /*flex-basis: 46%;*/ width: 48%; } 	/*default is 2 cols*/
ul#mtd_widegt_wrapper.col3 li {  /*flex-basis: 30%;*/ width: 31.33333333333333%; }

ul#tooltipElm {
	position: absolute;
    background-color: #EAFF72;
    padding: 1% 2%;
    font-size: 12px;
    width: auto;
	opacity : 0;
	z-index: 10000;
}
	ul#tooltipElm li { list-style: none;}

	/* when cols 3+ selected display cols*/
#rtmdcc_table ul#mtd_widegt_wrapper.col2 li {  width: 48%; }
#rtmdcc_table ul#mtd_widegt_wrapper.col3 li {  width: 31.33333333333333%; }
#rtmdcc_table ul#mtd_widegt_wrapper.col4 li {  width: 23%; }
#rtmdcc_table ul#mtd_widegt_wrapper.col5 li {  width: 18%; }
#rtmdcc_table ul#mtd_widegt_wrapper.col6 li {  width: 14.66666666666667%; }
	/* when cols < 3 selected display signle row */
#rtmdcc_table table {  border: 0px; width: 100%;}
#rtmdcc_table div {  
	display: none;
	position: absolute;
	background-color: #EAFF72;
	padding: 3%;
	font-size: 12px;
	width: auto;
	margin-right: 1%;
	z-index: 9999;
}
#rtmdcc_table td {  font-size: 14px;  border: 0px; vertical-align: top;}
#rtmdcc_table img {  width: 100%;}
#rtmdcc_table tbody td:first-child { width: 20%;}

/* text format */
.rtmdcc_error_message { color: red; }

/*
* media quiriies
*/
	
@media screen and (max-width:768px) {
	/*below 768 break point max num of cols become 3. Ex. col 6 becomes col 3*/
	#rtmdcc_table ul#mtd_widegt_wrapper.col4 li,
	#rtmdcc_table ul#mtd_widegt_wrapper.col5 li,
	#rtmdcc_table ul#mtd_widegt_wrapper.col6 li {  width: 31.33333333333333%; }	
}

@media screen and (max-width:414px) {
	/*below 768 break point max num of cols become 3. Ex. col 6 becomes col 3*/
	#rtmdcc_table > table >tbody > tr >td { display: table-row;}	
}